In [2]:
import numpy as np
import pandas as pd 
import string
import re

In [3]:
with open('all_inovices.txt', mode='r', encoding='utf8', errors='ignore') as f:
    text = f.read()

In [4]:
data = list(map(lambda x:x.split('\t'),text.split('\n')))

In [5]:
df = pd.DataFrame(data[1:], columns=data[0])

In [6]:
df.head()

         id      text   tag
0  001.jpeg   Invoice     O
1  001.jpeg       no:     O
2  001.jpeg  51109338  B-ID
3  001.jpeg      Date     O
4  001.jpeg        of     O

In [7]:
whitespace =string.whitespace
punctuation = '!"#$%&\'()*+-.:;<=>?@[\\]^_`{|}~'
tableWhitespace = str.maketrans('','',whitespace)
tablePunctuation = str.maketrans('','',punctuation)
def cleanText(txt):
    text = str(txt)
    text = text.lower()
    removeWhitespace = text.translate(tableWhitespace)
    removePunctuation = removeWhitespace.translate(tablePunctuation)

    return str(removePunctuation)

In [8]:
df['text'] = df['text'].apply(cleanText)

In [9]:
dataClean = df.query("text != '' ")
dataClean.dropna(inplace=True)

In [10]:
dataClean.head(10)

         id      text   tag
0  001.jpeg   invoice     O
1  001.jpeg        no     O
2  001.jpeg  51109338  B-ID
3  001.jpeg      date     O
4  001.jpeg        of     O
5  001.jpeg     issue     O
6  001.jpeg    seller     O
7  001.jpeg  andrews,  B-SN
8  001.jpeg     kirby  I-SN
9  001.jpeg       and  I-SN

In [11]:
group = dataClean.groupby(by='id')

In [22]:
bills = group.groups.keys()

In [24]:
all_bills_data = []
for bill in bills :
    bill_data = []
    groupArray = group.get_group(bill)[['text','tag']].values
    content = ''
    annotations = {'entities':[]}
    start = 0
    end = 0
    for text, label in groupArray :
        text = str(text)
        stringLength = len(text)+1
    
        start = end
        end = start + stringLength
    
        if label != 'O':
            annot = (start, end-1, label)
            annotations['entities'].append(annot)
    
        content = content + text + ' '

    bill_data = (content, annotations)
    all_bills_data.append(bill_data)

In [33]:
all_bills_data[:5]

[('invoice no 91781923 date of issue 3/9/2013 seller client barryroberts lopez plc 9074 davis place 7417 bowers fort ellisfort, il 4641 longberg, tx 60292 tax id 912798265 tax id 934872950 iban gb22saze28844860501717 items no description qty um net price net worth vat tks gaming computer 4,00 each 620,00 2 480,00 10 2 hp pro 6200 desktop tower 1,00 each 179,95 179,95 10 computer core i5 31ghz 8gb 500gb windows 10 home wifi sentry gaming computer 5,00 each 594,99 2 974,95 10 ryzen 3 3200g 16 gb ram buildtoorder summary vat net worth 10 5 634,90 total 5 634,90 vat 563,49 563,49 gross worth 2 728,00 197,95 3 272,45 gross worth 6 198,39 6 198,39 ',
  {'entities': [(11, 19, 'B-ID'),
    (34, 42, 'B-DATE'),
    (57, 69, 'B-SN'),
    (70, 75, 'B-CN'),
    (76, 79, 'I-CN'),
    (191, 213, 'B-IBAN'),
    (638, 639, 'B-TOTAL'),
    (640, 646, 'I-TOTAL')]}),
 ('invoice no 12459784 date of issue seller smith, johnson and ramsey 3581 ruben gateway suite 160 new kayla, nh 28229 tax id 902964332 iban gb87qexa37903967899333 items no description qty tks the great one the complete 4,00 wayne gretzky collection 2 return to virgin river by robyn 4,00 carr be michael jackson a life in music 2,00 paperback or softback 4 luke s fate star wars 3,00 little women by louisa may 5,00 alcott illustrated brand new collectible hardcover 6 the blooding by joseph 1,00 wambaugh summary vat 10 total 8/19/2020 um each each each each each each client russellcruz usnv olson fpo ap 50747 tax id 969851568 net price 4,89 2,99 12,33 4,49 14,77 4,49 net worth 147,99 147,99 net worth 19,56 11,96 24,66 13,47 73,85 4,49 vat 10 10 10 10 10 10 vat 14,80 14,80 gross worth 21,52 13,16 27,13 14,82 81,23 4,94 gross worth 162,79 162,79 ',
  {'entities': [(11, 19, 'B-ID'),
    (41, 47, 'B-SN'),
    (48, 55, 'I-SN'),
    (56, 59, 'I-SN'),
    (60, 66, 'I-SN'),
    (138, 160, 'B-IBAN'),
    (525, 534, 'B-DATE'),
    (575, 586, 'B-CN'),
    (843, 849, 'B-TOTAL')]}),
 ('invoice no 49848653 date of issue 5/15/2018 seller client edwards, smith and foster 9897 vargas squares west cory, pa 59091 tax id 993948546 iban gb97mbym90107540030529 items no description qty um tks metal storage shelf wine glass 3,00 each rack wine glasses for the cabinet 2 keep the boos coming stainless 4,00 each steel stemless wine tumbler, 12 oz summary vat 10 total chapman, baker and allison 86933 mata center alicemouth, sd 91648 tax id 984863886 net price net worth vat 22,42 67,26 19,99 79,96 net worth vat 147,22 14,72 147,22 14,72 10 10 gross worth 73,99 87,96 gross worth 161,94 161,94 ',
  {'entities': [(11, 19, 'B-ID'),
    (34, 43, 'B-DATE'),
    (58, 66, 'B-SN'),
    (67, 72, 'B-SN'),
    (73, 76, 'B-SN'),
    (77, 83, 'B-SN'),
    (146, 168, 'B-IBAN'),
    (375, 383, 'B-CN'),
    (384, 389, 'I-CN'),
    (390, 393, 'I-CN'),
    (394, 401, 'I-CN')]}),
 ('invoice no 51300355 date of issue seller williams ltd 87954 justin inlet north christyfurt, oh 35161 tax id 990716927 iban gb96kney04030634311641 items no description qty 1 size 3y nike air speed turf ps 2,00 sneakers shoe bv2526 100 white/blue/red 2 puma boys youth universal fg 4,00 jr soccer cleats 5 white high risk red black 5y os toddler shaq high top 2,00 shoes size 4 4 skechers hypno splash light up 1,00 shoes size 4 medium big kid new 500 tip top kids boys black laces 3,00 oxford shoes 12 kids 6 foamposite size 6c 5,00 summary vat 10 total 3/28/2012 um eacn eacn eacn eacn eacn eacn client kingjohnson 643 fox mountains south melissa, nv 738 tax id 953871416 net price net worth vat 75,00 150,00 10 19,99 79,96 10 9,99 19,98 10 24,99 24,99 10 44,00 132,00 10 22,40 112,00 10 net worth vat 518,93 51,89 518,93 51,89 gross worth 165,00 87,96 21,98 27,49 145,20 123,20 gross worth 570,82 570,82 ',
  {'entities': [(11, 19, 'B-ID'),
    (41, 49, 'B-SN'),
    (50, 53, 'I-SN'),
    (123, 145, 'B-IBAN'),
    (553, 562, 'B-DATE'),
    (603, 614, 'B-CN'),
    (898, 904, 'B-TOTAL')]}),
 ('invoice no 12847181 date of issue seller fitzpatrick and sons 480 cook cove spencerport, ut 12036 tax id 998995253 iban gb92pbpq73499358975916 items no description qty 1 hp desktop computer pc j 4,00 core i5 16gb 2tb hd 256gb ssd 22 lcd j windows 10 2 custom built amd ryzen 3,00 threadripper gaming computer , 32 gb ram, 300 fast dell optiplex desktop pc 1,00 computer dual core 34ghz 8gb 1tb win 10 pro wifi 4 dell optiplex 790 computer i7 3,00 34 ghz quad core 250gb 4gb working vintage microsolutions pentium 2,00 133mhz desktop tower pc windows 95 525 floppy summary vat 10 total 3/3/2012 um each each each each each client duncan plc unit 8799 box 703 dpo ap 81970 tax id 911827132 net price net worth vat 139,95 559,80 10 1 400,00 4 200,00 10 217,00 217,00 10 159,99 479,97 10 390,00 780,00 10 net worth vat 6 236,77 623,68 6 236,77 623,68 gross worth 615,78 4 620,00 238,70 527,97 858,00 gross worth 6 860,45 6 860,45 ',
  {'entities': [(11, 19, 'B-ID'),
    (41, 52, 'B-SN'),
    (53, 56, 'I-SN'),
    (57, 61, 'I-SN'),
    (120, 142, 'B-IBAN'),
    (585, 593, 'B-DATE'),
    (629, 635, 'B-CN'),
    (636, 639, 'I-CN'),
    (917, 918, 'B-TOTAL'),
    (919, 925, 'I-TOTAL')]})]

In [26]:
import random

In [27]:
random.shuffle(all_bills_data)

In [28]:
len(all_bills_data)

300

In [29]:
train_data = all_bills_data[:265]
test_data =all_bills_data[265:]

In [30]:
import pickle

In [32]:
pickle.dump(train_data, open('./data/TrainData.pickle', mode='wb'))
pickle.dump(test_data, open('./data/TestData.pickle', mode='wb'))