In [1]:
import numpy as np
import pandas as pd 
import string
import re

In [2]:
with open('all_inovices.txt', mode='r', encoding='utf8', errors='ignore') as f:
    text = f.read()

In [4]:
data = list(map(lambda x:x.split('\t'),text.split('\n')))

In [7]:
df = pd.DataFrame(data[1:], columns=data[0])

In [8]:
df.head()

         id      text
0  001.jpeg   Invoice     O
1  001.jpeg       no:     O
2  001.jpeg  51109338  B-ID
3  001.jpeg      Date     O
4  001.jpeg        of     O

In [14]:
whitespace =string.whitespace
punctuation = '!"#$%&\'()*+-.:;<=>?@[\\]^_`{|}~'
tableWhitespace = str.maketrans('','',whitespace)
tablePunctuation = str.maketrans('','',punctuation)
def cleanText(txt):
    text = str(txt)
    text = text.lower()
    removeWhitespace = text.translate(tableWhitespace)
    removePunctuation = removeWhitespace.translate(tablePunctuation)

    return str(removePunctuation)

In [15]:
df['text'] = df['text'].apply(cleanText)

In [16]:
dataClean = df.query("text != '' ")
dataClean.dropna(inplace=True)

In [21]:
dataClean.head(60)

          id      text
0   001.jpeg   invoice     O
1   001.jpeg        no     O
2   001.jpeg  51109338  B-ID
3   001.jpeg      date     O
4   001.jpeg        of     O
..       ...       ...   ... ..
65  001.jpeg  computer     O
66  001.jpeg      3,00     O
67  001.jpeg   desktop     O
68  001.jpeg        pc     O
69  001.jpeg     tower     O

[70 rows x 4 columns]