In [18]:
import numpy as np
import pandas as pd
import cv2
import pytesseract
from glob import glob
import spacy 
import re
import string

In [19]:

def cleanText(txt):
    whitespace = string.whitespace
    punctuation = '!"#$%&\'-()*+:;<=>?[\\]^_`{|}~'
    tableWhitespace = str.maketrans('','',whitespace)
    tablePunctuation = str.maketrans('','',punctuation)
    text = str(txt)
    text = text.lower()
    removeWhitespace = text.translate(tableWhitespace)
    removePunctuation = removeWhitespace.translate(tablePunctuation)

    return str(removePunctuation)

In [20]:
model_ner = spacy.load('./output/model-best/')

In [21]:
image = cv2.imread('./data/011.jpeg')
# cv2.imshow('bill',image)
# cv2.waitKey(0)
# cv2.destroyAllWindows()

tess_data = pytesseract.image_to_data(image)
tess_list = list(map(lambda x: x.split('\t'), tess_data.split('\n')))
df = pd.DataFrame(tess_list[1:], columns= tess_list[0])
df.dropna(inplace=True)
df['text'] =df['text'].apply(cleanText)

df_clean = df.query('text != "" ')
content = " ".join([w for w in df_clean['text']])
print(content)

doc = model_ner(content)

invoice no 68688408 date of issue seller torres and sons 4052 brown roads haysstad, nj 06418 tax id 953842239 iban gb84xsno58142814072766 items no. description qty tks nike 747998401 team hustle 3,00 d7 kids blue mid top basketball shoes size 4y us 2. jordan nike kid air 1 retro high 1,00 black gray elephant size 7y 838850013 summary vat 10 total um each each 03/20/2016 client dennis, levy and bowen 523 leslie manors lake colleenville, ct 12053 tax id 904829186 net price net worth vat 10,99 32,97 10 50,00 50,00 10 net worth vat 82,97 8,30 82,97 8,30 gross worth 36,27 55,00 gross worth 91,27 91,27

In [22]:
from spacy import displacy

In [23]:
# displacy.serve(doc,style='ent')

In [24]:
displacy.render(doc,style='ent')