In [1]:
import numpy as np
import pandas as pd
import cv2
import pytesseract
import os
from glob import glob
from tqdm import tqdm
import warnings

warnings.filterwarnings('ignore')

In [13]:
all_inovices = pd.DataFrame(columns=['id','text'])

for imagePath in tqdm(imagePaths, desc='inovice') :
    _, filename = os.path.split(imagePath)
    image = cv2.imread(imagePath)
    data = pytesseract.image_to_data(image)
    dataList = list(map(lambda x: x.split('\t'), data.split('\n')))
    df = pd.DataFrame(dataList[1:], columns = dataList[0])
    df.dropna(inplace = True)
    df['conf'] = df['conf'].astype(int)
    
    usefulData = df.query('conf>= 30')
    
    inovice = pd.DataFrame()
    inovice['text'] = usefulData['text']
    inovice['id'] = filename

    all_inovices = pd.concat((all_inovices,inovice))

inovice: 100%|█████████████████████████████████████████████████████| 300/300 [14:10<00:00,  2.83s/it]

In [14]:
all_inovices

          id      text
4     1.jpeg   Invoice
5     1.jpeg       no:
6     1.jpeg  51109338
10    1.jpeg      Date
11    1.jpeg        of
..       ...       ...
320  99.jpeg     Gross
321  99.jpeg     worth
323  99.jpeg    495,30
327  99.jpeg         $
328  99.jpeg    495,30

[42093 rows x 2 columns]

In [16]:
all_inovices.to_csv('all_inovices.csv', index= False)